extends meta/_layout

block content
  .container
    .row
      .col-xs-12
        h1 Вычисление размеров макета
        .input-wrap
          label Введите ширину
          br
          input(type='text' class='get-width' placeholder='Введите ширину')
          br
          label Введите длинну
          br
          input(type='text' class='get-height' placeholder='Введите длинну')
          br
          label Введите dpi
          br
          input(type='text' class='get-dpi' placeholder='Введите dpi')
          br
        .result 0px X 0px

block template
  |<script type='text/template' id='result-template'>
  |  <p><%= data.width * (data.dpi / 160) %>px X <%= data.height * (data.dpi / 160) %>px</p>
  |</script>
